@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    min-height: 46px;
    padding: .85rem 1.4rem;

    border-radius: var(--radius-sm);

    font-weight: 600;

    transition:
        background .3s ease,
        color .3s ease,
        border-color .3s ease,
        transform .3s ease,
        box-shadow .3s ease;
}

/* Default Primary */
.btn-primary {
    background: var(--color-secondary);
    color: var(--color-bg);
}

.btn-primary:hover {
    transform: translateY(-2px);
    box-shadow: var(--shadow-md);
}

/* Default Outline */
.btn-outline {
    border: 2px solid var(--color-secondary);
    color: var(--color-secondary);
    background: transparent;
}

.btn-outline:hover {
    background: var(--color-secondary);
    color: var(--color-bg);
}