.section-header {
    max-width: 760px;

    margin: 0 auto var(--space-3xl);

    text-align: center;
}

.section-header--left {
    margin-left: 0;
    margin-right: 0;

    text-align: left;
}

.section-title {
    margin-top: var(--space-md);
}

.section-description {
    margin-top: var(--space-md);

    color: var(--color-text);

    line-height: 1.8;
}